
{% load static %}

{% block css %}
<style>
	main
	{
		font-family: monospace;
		/* background: black; */

		width: 100%;
		height: calc(100vh - 90px);

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}
	.popup
	{
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(0%, -50%);
	}
	canvas
	{
		background: rgba(0, 0, 0, 0.5);
		/* margin-top: 34px; */

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.container
	{
		position: absolute;
		top: calc(50% - 9px);
		left: 50%;
		transform: translate(-50%, -50%);

		width: 1000px;
		height: 620px;

		animation: bg-countdown 5s ease;

		filter: contrast(20);
		background-color: none;
		overflow: hidden;
	}
	.container span
	{
		color: rgb(190, 190, 190);

		font-size: 8rem;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;

		display: block;
		transition: all .5s ease;

		opacity: 0;
		filter: blur(0.6rem);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:nth-child(1) {
			animation: letteranim 4s ease;
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation: letteranim 4s ease;
			animation-delay: 1s;
		}
		&:nth-child(3) {
			animation: letteranim 4s ease;
			animation-delay: 2s;
		}
		&:nth-child(4) {
			animation: letteranim 4s ease;
			animation-delay: 3s;
		}
	}
	.scored
	{
		animation: scored 2s ease;
	}
	.final_score
	{
		box-shadow: inset 0 0 5px black;
		text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white;
		font-size: 1.75em;
	}
	@keyframes bg-countdown
	{
		0% {
			background: rgba(255, 255, 255, 1);
			background: rgba(0, 0, 0, 1);
		}
		80% {
			background: rgba(255, 255, 255, 1);
			background: rgba(0, 0, 0, 1);
		}
		100% {
			background: rgba(255, 255, 255, 0);
			background: rgba(255, 255, 255, 0);
		}
	}
	@keyframes letteranim
	{
		0% {
			opacity: 0;
			filter: blur(0.6rem);
		}
		5% {
			opacity: 1;
			filter: blur(0.2rem);
		}
		28% {
			opacity: 1;
			filter: blur(0.2rem);
		}
		38% {
			opacity: 0;
			filter: blur(0.6rem);
		}
		100% {
			opacity: 0;
			filter: blur(0.6rem);
		}
	}
	@keyframes blue_win
	{
		0%{
			background: #FFF !important;
		}
		100%{
			background: #09F !important;
		}
	}
	@keyframes red_win
	{
		0%{
			background: #FFF !important;
		}
		100%{
			background: #F04 !important;
		}
	}
	@keyframes scored
	{
		0%{
			box-shadow: inset 0 0 5px black;
			text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white;
			font-size: 1.75em;
		}
		100%{
			text-shadow: none;
		}
	}
	@keyframes glitch
	{
		0% {
			text-shadow: 0.05em 0 0 #09F, -0.03em -0.04em 0 #F04;
		}
		15% {
			text-shadow: 0.05em 0 0 #09F, -0.03em -0.04em 0 #F04;
		}
		16% {
			text-shadow: -0.05em -0.025em 0 #09F, 0.025em 0.035em 0 #F04;
		}
		49% {
			text-shadow: -0.05em -0.025em 0 #09F, 0.025em 0.035em 0 #F04;
		}
		50% {
			text-shadow: 0.05em 0.035em 0 #09F, 0.03em 0 0 #F04;
		}
		99% {
			text-shadow: 0.05em 0.035em 0 #09F, 0.03em 0 0 #F04;
		}
		100% {
			text-shadow: -0.05em 0 0 #09F, -0.025em -0.04em 0 #F04;
		}
	}
	.glitch *, .glitch
	{
		letter-spacing: 15px;
	}
	.glitch
	{
		font-size: 5rem;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		text-shadow: 0.05em 0 0 #09F, -0.04em -0.03em 0 #F04;
		animation: glitch 725ms infinite;
	}
	.glitch span
	{
		position: absolute;
		top: 0;
		left: 0;
	}
	.glitch span:first-child
	{
		animation: glitch 500ms infinite;
		clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
		transform: translate(-0.04em, -0.03em);
		opacity: 0.75;
	}
	.glitch span:last-child
	{
		animation: glitch 375ms infinite;
		clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
		transform: translate(0.04em, 0.03em);
		opacity: 0.75;
	}
	#score
	{
		margin: 8px 0;

		display: flex;
		flex-direction: row;
	}
	#score span
	{
		width: 35px;
		height: 35px;

		padding: 0 !important;

		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#win
	{
		transition: 1.5s ease;
		opacity: 0;
		z-index: 999;
		background: #FFF;

		width: 150px;
		height: 150px;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.blue_win
	{
		animation: blue_win 1s ease;
		animation-delay: 4s;
		background: #09F !important;
	}
	.red_win
	{
		animation: red_win 1s ease;
		animation-delay: 4s;
		background: #F04 !important;
	}
</style>
{% endblock css %}

{% block content %}
	<h1>Welcome to the game!</h1>

	<canvas id="board" class="border-top border-bottom border-light" width="1000px" height="620px"></canvas>

	<div id="score" class="text-white  m-2">
		<span id="red_user" class="text-danger"></span>
		<span class="d-inline-block py-1 mx-4 bg-danger" id="blue_score">0</span>
		<span class="d-inline-block py-1 ">|</span>
		<span class="d-inline-block py-1 mx-4 bg-primary" id="red_score">0</span>
		<span id="blue_user" class="text-primary"></span>
	</div>

	<div class="container">
		<span>3</span>
		<span>2</span>
		<span>1</span>
		<span class="glitch">
			<span aria-hidden="true">play</span>
			play
			<span aria-hidden="true">play</span>
		</span>
	</div>

	<div id="win"div style="clip-path: polygon(0% 16%, 20% 40%, 30% 0%, 50% 40%, 70% 0%, 80% 40%, 100% 16%, 80% 90%, 20% 90%);"></div>

	<script src="{% static 'pong/js/game_page.js' %}"></script>
{% endblock %}
