{% extends 'base.html' %}

{% block title %}Pong - Homepage{% endblock %}

{% block content %}
<div class="container-fluid">
		<h1><strong>PONG</strong></h1>
		<ul class="list-inline text-center">
			<a href="" alt="Game">Game</a>
			<a href="" alt="Friends">Friends</a>
			<a href="" alt="Chat">Chat</a>
			<a href="" alt="Profil">Profil</a>
		</ul>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nisi,
			 velit sapiente quis, consequatur incidunt exercitationem aperiam, 
			 sunt alias at corporis maiores doloribus delectus praesentium 
			 laborum magnam eos ex. Magnam.
		</p>
	</div>
{% endblock %}