{% load static %}

<link href="{% static 'pong/css/profil.css' %}" rel="stylesheet">
<link href="{% static 'pong/css/other_profile.css' %}" rel=stylesheet>

{% if user_target.token %}
	<h1>Profil</h1>
<div class="body_page">
	<section class="left_side">
		<div class="infos">
			<div class="avatar">
				<h1>
					<span>
						{{ user_target.username }}
					</span>'S PROFIL
				</h1>
				{% if user_target.user_avatar %}
					<img src="{{ user_target.user_avatar }}" alt="Avatar" />
				{% else %}
					<img src="{% static 'pong/image/profil_default.png' %}" alt="Default Avatar" />
				{% endif %}
			</div>
			<div class="friend">
				{% if user_target.is_friend %}
					<p class="yes">FRIEND : <span>YES</span></p>
				{% else %}
					<p class="no">FRIEND : <span>NO</span></p>
				{% endif %}
			</div>
		</div>
	</section>
	<section class="right_side">
		<h1>PONG STATS</h1>
		<ul>
			{% if user_target.pong_stats %}
				<li>
					<h3>Game Won</h3>
					<p>
						{{ user_target.pong_stats.user_statistic.nbr_won_parties }}
					</p>
				</li>

				<li>
					<h3>Game Lost</h3>
					<p>
						{{ user_target.pong_stats.user_statistic.nbr_lose_parties }}
					</p>
				</li>

				<li>
					<h3>Time played</h3>
					<p>
						{{ user_target.pong_stats.user_statistic.total_time_played }}
					</p>
				</li>

				<li>
					<h3>Won Tournament</h3>
					<p>
						{{ user_target.pong_stats.user_statistic.nbr_won_tournaments }}
					</p>
				</li>
			{% else %}
				<li>
					<h3>Game Won</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Game Lost</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Time played</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Won Tournament</h3>
					<p>
						0
					</p>
				</li>
			{% endif %}
		</ul>
	</section>
	<section class="bot_side">
		<h1>TIC TAC TOE STATS</h1>
		<ul>
			{% if user_target.tic_stats %}
				<li>
					<h3>Game Won</h3>
					<p>
						{{ user_target.tic_stats.user_statistic.nbr_won_parties }}
					</p>
				</li>

				<li>
					<h3>Game Lost</h3>
					<p>
						{{ user_target.tic_stats.user_statistic.nbr_lose_parties }}
					</p>
				</li>

				<li>
					<h3>Time played</h3>
					<p>
						{{ user_target.tic_stats.user_statistic.total_time_played }}
					</p>
				</li>

				<li>
					<h3>Won Tournament</h3>
					<p>
						{{ user_target.tic_stats.user_statistic.nbr_won_tournaments }}
					</p>
				</li>
			{% else %}
				<li>
					<h3>Game Won</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Game Lost</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Time played</h3>
					<p>
						0
					</p>
				</li>

				<li>
					<h3>Won Tournament</h3>
					<p>
						0
					</p>
				</li>
			{% endif %}
		</ul>
	</section>
</div>
	<!-- </section> -->

	<!-- check context from view -->
	<!--
		<section class="right_board">
		<div class="table-container">
			<h1>HISTORY</h1>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Opponent</th>
						<th>Result</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbody-container">
			<table>
				<tbody>
					{% for game in user_target.history %}
						{% if game.winner.pseudo == user.pseudo %}
							<tr>
								<td class="victory">{{game.date}}</td>
								<td class="victory">{{game.loser}}</td>
								<td class="victory">Victory</td>
							</tr>
						{% else %}
							<tr>
								<td class="defeat">{{game.date}}</td>
								<td class="defeat">{{game.winner}}</td>
								<td class="defeat">Defeat</td>
							</tr>
						{% endif %}
					{% empty %}
						<tr class="empty">
							<td colspan="3" class="empty-cell">No match played yet</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section> -->
{% endif %}