body {
	background-image: url("/static/pong/image/fond_retro_9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

